<mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Process Column -->
    <ng-container matColumnDef="process">
      <mat-header-cell *matHeaderCellDef> Process </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.process}} </mat-cell>
    </ng-container>

    <!-- Burst Time Column -->
    <ng-container matColumnDef="burstTime">
      <mat-header-cell *matHeaderCellDef> Burst Time </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.burstTime}} </mat-cell>
    </ng-container>

    <!-- Arrival Time Column -->
    <ng-container matColumnDef="arrivalTime">
      <mat-header-cell *matHeaderCellDef> Arrival Time </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.arrivalTime}} </mat-cell>
    </ng-container>

    <!-- Turnaround Time Column -->
    <ng-container matColumnDef="turnaroundTime">
      <mat-header-cell *matHeaderCellDef> Turnaround Time </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.turnaroundTime}} </mat-cell>
    </ng-container>

    <!-- Waiting Time Column -->
    <ng-container matColumnDef="waitingTime">
      <mat-header-cell *matHeaderCellDef> Waiting Time </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.waitingTime}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
