#gantt-chart .background {
    fill: none;
}

#gantt-chart .grid {
    fill: #fff;
    shape-rendering: crispEdges;
    stroke: #ddd;
}

#gantt-chart .label {
    alignment-baseline: central;
    fill: #777;
    font-family: sans-serif;
    font-size: 12px;
}

#gantt-chart .axis path,
#gantt-chart .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #ddd;
}
#gantt-chart .axis text {
    fill: #777;
    font-family: sans-serif;
    font-size: 11px;
}

#gantt-chart .event {
    fill: #3CB371;
    fill-opacity: 0.5;
    shape-rendering: crispEdges;
    stroke: #000;
}
#gantt-chart .event.focus {
    fill: #2E8B57;
    fill-opacity: 0.7;
}
